$color-primary: #ec7133;
$color-button-hover: #ef8247;
$color-secondary: #fff;
$color-background: #efe9e5;
$color-shadow: #D9D3CF;
$color-secondary-icon: #A9A9A9;
$color-error: #c53030;
$color-blue:  #00339a;
$color-black: #1c1c1c;
